<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGGIQPguzw_xvgxEApTsbiYpaICBNrtSc</string>
	<key>GCM_SENDER_ID</key>
	<string>19168089826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tht.app.ios</string>
	<key>PROJECT_ID</key>
	<string>tht-push-fcm</string>
	<key>STORAGE_BUCKET</key>
	<string>tht-push-fcm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19168089826:ios:ab1dd0b12d7add393a70bb</string>
</dict>
</plist>